@media only screen and (max-width: 1023px) {
.current_image {
    min-height: calc(min(100vh - 20rem, 100vh - 402px));
    display: block ! important;
/*    height: auto;*/
    width: 100vw ! important;
}
.current_image.current_image_small, #current_image {
    /*display: block ! important;*/
    display: flex ! important;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    gap: 0px ! important;
}

#current_image_img, #welcome_message {
    max-width: 100vw ! important;
    max-height: 100vh ! important;
    width: 100vw ! important;
    display: inline-block;
    object-position: center;
}
#welcome_message {
    height: calc(100vh - 10em);
    max-height: 83vh ! important;
    margin-top: 3em !important;
    width: 95vw !important;
}
.current-image-img {
/*    object-fit: initial;*/
    object-fit: scale-down;
}
#alt_prompt_region + .current_image {
    height: calc(100vh - 2.5em);
}
#Image-Result-Tab {
    overflow-y:auto ! important;
    text-align: center;
}
.nav-item {
    display: inline-block;
}
.top-status-bar-wrapper {
    width: auto;
    min-width: 100vw;
    height:2.5em;
    overflow-y:hidden;
    overflow-x:auto;
    display: block;
}

.top-status-bar {
    width: auto;
    display: block;
    min-width: 100vw;
    height: 2.5em;
}
#toptablist, #bottombartabcollection {
    display: block;
    overflow-y:hidden;
    overflow-x:auto;
    height: 2.5em;
    white-space: nowrap;
    width: 100%;
}
#bottombartabcollection {
    width: 100vw;
}
#alt_prompt_textbox, #alt_negativeprompt_textbox {
    max-height: min(4rem, 551px) ! important;
}
.model-downloader-main-section {
    min-width: 70vw;
}
.model_downloader_metadatazone {
    min-width: 70vw;
}
.current-image-buttons {
    display: block ! important;
    height: 2.5em;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    width: auto ! important;
    max-width: 90vw;
}
.current-image-extras-wrapper {
    /*max-width: 90vw ! important;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    display: block ! important;*/
}
.current_image_small #current-image-extras-wrapper {
    max-width: 90vw;
}
.current-image-buttons .basic-button {
    display: inline-block;
}
.current-image-data {
    display: block ! important;
    height: 5em;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 90vw;
    padding-bottom: 2em;
    margin-top: 0 !important;
}
.imageview_popup_modal_img {
    width: 100vw;
    object-fit: initial ! important;
}
#image_fullview_modal_content {
    width: 100vw ! important;
}
.imageview_modal_imagewrap {
    height: auto;
}
#image_fullview_modal > div:nth-child(2) {
    right: 5em ! important;
    top: 3px ! important;
}
.browser-fullcontent-container, #t2i_bottom_bar_content, #modelbrowser-fullcontent {
    height: calc(100vh - 9em) ! important;
}
}

@media only screen and (max-height: 480px) and (min-width: 850px) {
.current_image {
    min-height: calc(min(100vh - 20rem, 100vh - 402px));
    display: block ! important;
/*    height: auto;*/
    width: 100vw ! important;
}
.current_image.current_image_small, #current_image {
    /*display: block ! important;*/
    display: flex ! important;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    gap: 0px ! important;
}

#current_image_img, #welcome_message {
    max-width: 100vw ! important;
    max-height: 100vh ! important;
    width: 100vw ! important;
    display: inline-block;
    object-position: center;
}
#welcome_message {
    height: calc(100vh - 10em);
    max-height: 83vh ! important;
    margin-top: 3em !important;
    width: 95vw !important;
}
.current-image-img {
/*    object-fit: initial;*/
    object-fit: scale-down;
}
#alt_prompt_region + .current_image {
    height: calc(100vh - 2.5em);
}
#Image-Result-Tab {
    overflow-y:auto ! important;
    text-align: center;
}
.nav-item {
    display: inline-block;
}
.top-status-bar-wrapper {
    width: auto;
    min-width: 100vw;
    height:2.5em;
    overflow-y:hidden;
    overflow-x:auto;
    display: block;
}

.top-status-bar {
    width: auto;
    display: block;
    min-width: 100vw;
    height: 2.5em;
}
#toptablist, #bottombartabcollection {
    display: block;
    overflow-y:hidden;
    overflow-x:auto;
    height: 2.5em;
    white-space: nowrap;
    width: 100%;
}
#bottombartabcollection {
    width: 100vw;
}
#alt_prompt_textbox, #alt_negativeprompt_textbox {
    max-height: min(4rem, 551px) ! important;
}
.model-downloader-main-section {
    min-width: 70vw;
}
.model_downloader_metadatazone {
    min-width: 70vw;
}
.current-image-buttons {
    display: block ! important;
    height: 2.5em;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    width: auto ! important;
    max-width: 90vw;
}
.current-image-extras-wrapper {
    /*max-width: 90vw ! important;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    display: block ! important;*/
}
.current_image_small #current-image-extras-wrapper {
    max-width: 90vw;
}
.current-image-buttons .basic-button {
    display: inline-block;
}
.current-image-data {
    display: block ! important;
    height: 5em;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 90vw;
    padding-bottom: 2em;
    margin-top: 0 !important;
}
.imageview_popup_modal_img {
    width: 100vw;
    object-fit: initial ! important;
}
#image_fullview_modal_content {
    width: 100vw ! important;
}
.imageview_modal_imagewrap {
    height: auto;
}
#image_fullview_modal > div:nth-child(2) {
    right: 5em ! important;
    top: 3px ! important;
}
.browser-fullcontent-container, #t2i_bottom_bar_content, #modelbrowser-fullcontent {
    height: calc(100vh - 9em) ! important;
}

#alt_prompt_region, #current_image_wrapbox {
    max-width: 50vw;
    display:inline-block !important;
}
#alt_prompt_region {
/*    top: calc(-100vw + 3em) ! important;*/
/*    top: 6em !important;*/
    top: calc(-100vh + 101px + 2em + 5em) !important;
/*    position: absolute;*/
}
.current_image {
    min-height: calc(min(100vh - 20rem, 100vh - 402px));
    display: block ! important;
/*    height: auto;*/
    width: 50vw ! important;
}
#current_image_img, #welcome_message {
    max-width: 50vw ! important;
    width: 50vw ! important;
    max-height: 100vh ! important;
    display: inline-block;
    object-position: center;
}
#welcome_message {
    width: 45vw !important;
    height: calc(100vh - 10em);
    max-height: 83vh ! important;
    margin-top: 3em !important;

}
.current-image-buttons {
    max-width: 45vw;



}
.current_image_small #current-image-extras-wrapper {
    max-width: 45vw;
}
.current-image-data {
    max-width: 45vw;
}
#current_image_wrapbox, #currentimagecontent, #alt_prompt_region {
    height: calc(-101px - 2em + 100vh) !important;
}
#alt_prompt_textbox, #alt_negativeprompt_textbox {
    max-height: calc(50vh - 7em) ! important;
}

#current_image_wrapbox, #alt_prompt_region {
    width: 50% !important;
}
#current_image {
    width: 100% !important;
}
#input_sidebar {
    max-width: calc(33vw - var(--panel-gap) ) !important;
}
#main_image_area {
    min-width: 66vw !important;
}
#alt_prompt_region, #current_image_wrapbox {
    min-width: 33vw !important;
}
#t2i_top_bar {
    max-width: 100vw !important;
}
#alt_generate_button {
    padding: 1px !important;
}
}